.main-container {
    padding-top: 90px;
}
.error-container
{
	height: 10vh;
	/* display: none; */
}
.error-alert-col
{
	margin-top: 40px;
    text-align: center;
}
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #2e6da4;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-login {
    background-color: #337ab7;
    border-color: #2e6da4;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #2e6da4;
    border-color: #2e6da4;
}
.forgot-password {
    text-decoration: none;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: none;
    color: #666;
}

.btn-register {
    background-color: #337ab7;
    border-color: #2e6da4;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.invalid-creds-para-resp
{
	color: #dc4c64;
	display: none;
}
.invalid-creds-field-resp
{
	border-color: #dc4c64;
}

/* OTP Popup Styles */   
.otp-modal
{
	top: -50%;
}
.otp-modal p
{
	margin: revert;
}
.otp-modal .modal-content
{
    height: max-content;
}
.otp-modal .modal-body
{
    padding: 5px;
    height: max-content;
}
.otp-modal .modal-footer
{
    padding: 5px 10px;
}
.otp-modal .modal-footer a
{
    margin: 0px 5px;
    cursor: pointer;
}
.verf-title
{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.verf-title h3
{
    color: #888;
    font-weight: bold;
    margin-bottom: 15px;
}
.verf-title-info
{
    font-size: 12px;
    color: #337ab7;
    margin-bottom: 15px;
}
.verf-title-msg
{
    color: #888;
    text-align: initial;
    font-weight: bold;
}

.otp-input-fields
{
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 8px 0px #02025044;
    max-width: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px;
}

.otp-input-fields input
{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #337ab7;
    text-align: center;
    outline: none;
    font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

.otp_result
{
    max-width: 400px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-family: 'Antonio', sans-serif;
    opacity: 1;
    transition: color 0.5s ease;
    color: #dc4c64;
    border-radius: 3px;
}
/* OTP Popup Styles */