.home-page-main-container
{
    height: 100vh;
    padding: 0;
}
.home-page-main-row
{
    height: 100vh;
}
.home-page-main-col
{
    height: 100vh;
}
.home-page-sidebar
{
	padding: 0px;
    height: inherit;
    background: #272D42;
    position: fixed;
}
.home-page-body
{
    height: inherit;
}
.home-nav-col
{
    padding: 0;
}
.home-nav-navbar
{
    border: 0;
    border-radius: 0;
    background: #272D42;
    border-left: 1px solid #767B95;
    color: white;
}
.home-nav-cont
{
    float: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.home-nav-cont.dropdown p
{
    color: black;
    padding: 1px 5px; 
    cursor: pointer;
}
.home-nav-cont.dropdown p:hover
{
    background-color: lightgray;
}
.user-btn
{
    padding-top: 8px;
    padding-bottom: 4px;
}
.home-nav-cont-ul
{
    margin-top: 1vh;
}
.home-nav-cont-li
{
    margin-right: 1vw;
}
.home-page-sidebar-header
{
    margin:1.5vh 1vw 5vh 1vw;
    padding: 0vh 1vw;
    color: white;
    text-align: center;
}
/* .home-page-sidebar-contents-div
{
    color: #fff;
}
.home-page-sidebar-content
{
    margin: 0vh 3vw;
    font-size: initial;
    cursor: pointer;
}
.home-page-sidebar-content:hover
{
    background-color: lightgray;
    color: #272D42;
} */
#sidebar ul
{
	padding-left: 1vw;
}
#sidebar ul li p
{
    padding: 5px 0;
    display: block;
    color: lightgray;
    border-bottom: white;
    font-size: initial;
    cursor: pointer;
}
#sidebar li.active>p {
    background: 0 0;
    color: white;
}
#sidebar ul li p:hover
{
	/* background-color: lightgray; */
    /* color: #272D42; */
    color: white;
}
.project-nav-div
{
    background-color: #fff;
    border-radius: 0;
    border-color: #fff;
}
.project-nav-cont li:hover
{
    border-bottom: 1px solid #767B95;
}
.active a
{
    background-color: #fff !important;
    border-bottom: 1px solid #767B95;
    color: #767B95;
}
.rounded-circle
{
    border-radius: 50%;
}
.h3
{
    margin: 0;
}
.badge-Low
{
    background-color: white;
    color: #54b4d3;
    border: 1px solid;
}
.badge-Medium
{
    background-color: white;
    color: #e4a11b;
    border: 1px solid;
}
.badge-High
{
    background-color: white;
    color: #dc4c64;
    border: 1px solid;
}
.badge-Open
{
    background-color: white;
    color: #3b71ca;
    border: 1px solid;
}
.badge-Development
{
    background-color: white;
    color: #e4a11b;
    border: 1px solid;
}
.badge-Testing
{
    background-color: white;
    color: #dc4c64;
    border: 1px solid;
}
.badge-Closed
{
    background-color: white;
    color: #14a44d;
    border: 1px solid;
}
.project-list-table tbody tr:hover
{
    cursor: pointer;
    background-color: #e3ebf7;
}
.task-list-div
{
    /* display: none; */
} 
.mlstn-list-div
{
    display: none;
}
.mlstn-list-table tbody tr:hover
{
    cursor: pointer;
}
.mlstn-list-table tbody tr table tbody tr:hover
{
    background-color: #e3ebf7;
}
#navbar-row
{
    /* display: none; */
}
tr.collapse.in 
{
display:table-row;
}
a
{
cursor: pointer;
}
.docs-list-div
{
    display: none;
}
.details-list-div
{
    display: none;
}
.edit-project
{
    cursor: pointer;
    color: #3b71ca;
}
.edit-project p
{
    margin-top: 5px; 
    margin-bottom: 5px;
}
.empty-notify-col
{
	margin-top:20vh;
	color:lightgrey;
	text-align:center;
}
.dataTables_wrapper select
{
	margin-bottom: 5px;
}
.dataTables_filter input
{
	margin-bottom: 5px;
	width: 20vw !important;
}
.dataTables_wrapper > .row
{
	padding: 0px 0.5vw;
}
.dataTables_wrapper > .row ~ .row
{
	padding: 0px;
}
.content-sub-details
{
	color: grey;
	padding-left: 2vw !important;
}
.content-sub-details :hover
{
	cursor: pointer;
	color: #3b71ca;
}
/* To Make Assignee Drop downs Visible */
.ui-front 
{
    z-index: 2030;
}
.file-lst-clr-sec
 {
     text-align: right;
 }
 /* Modal Validations Error texts */
 .invalidUnitNameErr, .invalidUnitFrmDtErr, .invalidUnitToDtErr, .invalidUnitPrtyErr, .invalidUnitStatErr, .invalidUnitMemberErr
 {
 	display: none;
 	color: #dc3545;
 }
 .breach-error-messages
 {
 	position: fixed;
 	z-index: 2030;
    width: 100vw;
    text-align: center;
 }
 
 /* For Sidebar new Styles */
 
	.sidebar-main-ul, .sidebar-sub-module-ul
	{
	    padding: 0 !important;
	}
	.sidebar-main-module-p
	{
	    padding-left: 1vw !important;
	}
	.sidebar-sub-module-p
	{
	    padding-left: 3vw !important;
	}
	.module-active
	{
	    background: #5B6176;
	    color: white;
	}
	
 /* For Sidebar new Styles */
 
 /* Chart Section */
 #taskChartsection, #mlstnChartsection
 {
 	 height: 400px;
     width: 1000px;
     box-shadow: 0 3px 5px #d9d9d9;
 }
 #ownPrjctChartSection, #asgndPrjctChartSection, #ownTaskChartSection, #asgndTaskChartSection, #usersProjectChartSection, #usersTaskChartSection
 {
 	 height: 300px;
     box-shadow: 0 3px 5px #d9d9d9;
 }