.modal-header, .modal-footer
{
    padding:0.5rem;
    
}
.modal-header
{
    
    text-align: center;
}
.modal-dialog, .modal-content
{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
}
.modal-body
{
    height: 90vh;
}
.cust-modal-row
{
    margin-bottom: 15px;
}
.form-text, .form-control
{
    margin-bottom: 15px;
}
::-webkit-file-upload-button 
{
    display: none;
}
.modal 
{
    top:-50%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.in 
{
top: 0%;
}
.input-append .btn.dropdown-toggle 
{
    float: none;
}